*{
    /* border: 2px solid red; */
}
nav{
    margin-top: 20px;
    border-bottom: #ccc 2px solid;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    margin: 0 10px;
    list-style: none;
}

img{
    width: 500px;
    border-bottom: #ccc 2px solid;
    border-top: #ccc 2px solid;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}